/*Navigation*/

* { margin: 0; box-sizing: border-box; }

nav {
text-align: center;
position: absolute;
z-index: 1;
height: 80px;
width: 100%; 
background-color: #c1946a;	
}

.navigation { list-style: none; text-align: center; margin-bottom: 20px;}
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a { display: block; color: black; padding: 30px; text-align: center; text-decoration: none; border-bottom: solid; font-size: 20px; height: 80px; background-color: #c1946a}
  .navigation a:hover {	color: #000; background-color: #fff; font-weight: 700;	}
  

.responsive li { display: block; margin-bottom:}

@media only screen and (min-width: 45em) {
    .navigation li:first-child { display: none;}
    .navigation li { display: inline-block; text-align: center;}
    .navigation li a { color: black;}
}


/*General Formatting*/

header {
    height: auto;
    margin-bottom: 50px;
}

body {
    background-color: 	#F5F5F5;
}

.box h1 {
font-size: 30px;
font-style: italic;
padding-left: 50px;
padding-top: 10px;
height: 80px;
color: white;
background-color: #405d27;
}

.box h1 img {
    border-radius: 50%;
    height: 50px;
    max-width: 50px;
}

header {
    height: 100px;
    margin-bottom: 50px;
}

article {
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.616);
    width: 75%;
    height: auto;
}
    

.fixed {
padding-top: 3px;
font-size: 20px;
margin: auto;
height: 30px;
width: 160px;
text-align: center;
border-radius: 25px;
background-color: #c1946a;
position: fixed;
bottom: 5px;
right: 10px;
}

.fixed a {
text-decoration: none;
color: black;
}

.fixed a:hover {
padding-top: 3px;
font-size: 20px;
margin: auto;
height: 30px;
width: 160px;
text-align: center;
border-radius: 25px;
background-color: white;
position: fixed;
bottom: 5px;
right: 10px;
}

/*Grid and Media Queries*/

@media (min-width: 1200px){

.grid {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 80px 80px 20px;
}

}

    

