/*Navigation*/

* { margin: 0; box-sizing: border-box; }

nav {
text-align: center;
position: absolute;
z-index: 2;
height: 80px;
width: 100%; 
background-color: #c1946a;	
}

.navigation { list-style: none; text-align: left; margin-bottom: 20px; padding-left: 200px;}
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a { display: block; color: black; padding: 30px; text-align: center; text-decoration: none; border-bottom: solid; font-size: 20px; height: 80px; background-color: #c1946a}
  .navigation a:hover {	color: #000; background-color: #fff; font-weight: 700;	}
  

.responsive li { display: block; margin-bottom:}

@media only screen and (min-width: 50em) {
    .navigation li:first-child { display: none;}
    .navigation li { display: inline-block; text-align: center;}
    .navigation li a { color: black;}
}


.box h1 {
    margin-top: 0px;
    font-family: times, serif; 
    font-size: 30px;
    font-style: italic;
    padding-left: 50px;
    padding-top: 10px;
    height: 80px;
    color: white;
    background-color: #405d27;
    }
    
    .box h1 img {
        border-radius: 50%;
        height: 50px;
        max-width: 50px;
    }


/*General Formatting*/

header {
    height: auto;
    margin-bottom: 50px;
}

body {
    background-color: 	#F5F5F5;
}


header {
    height: 100px;
    margin-bottom: 50px;
}

article {
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.616);
    width: 75%;
    height: auto;
}

footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #405d27;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    background-color: white;
    color: black;
}

.temple img {
        margin: 0px 20px;
        float: left;
        height: 200px;
        width: 400px;

}

.suites img {
margin: 0 20px;
}
    

.fixed {
z-index: 1;
padding-top: 3px;
font-size: 20px;
margin: auto;
height: 30px;
width: 160px;
text-align: center;
border-radius: 25px;
background-color: #c1946a;
position: fixed;
bottom: 5px;
right: 10px;
}

.fixed a {
text-decoration: none;
color: black;
}

.fixed a:hover {
padding-top: 3px;
font-size: 20px;
margin: auto;
height: 30px;
width: 160px;
text-align: center;
border-radius: 25px;
background-color: white;
position: fixed;
bottom: 5px;
right: 10px;
}

/*Grid and Media Queries*/

@media (max-width: 1400px) {

    .grid {
        display: grid;
        grid-template-rows: 80px 40px;
    }

    .title {
        margin-top: 100px;
        margin-bottom: 20px;
    }

}

@media (min-width: 1400px){

    .grid {
        display: grid;
        grid-template-columns: 35% 65%;
    }
    
    }

@media (max-width: 800px) {

    .options {
        margin-bottom: 50px;
    }

    .temple img {
        padding-right: 20px;
        height: 140px;
        width: 280px;
    }
    
    .fixed {
        position: static;
        margin-bottom: 5px;
    }
    .fixed:hover{
        background-color:white;
    }
    .fixed a {
        position: static;
        margin: auto;
        bottom: 10px;
    }
    .fixed a:hover {
        position: static;

        padding-top: 3px;
font-size: 20px;
margin: auto;
height: 30px;
width: 160px;
text-align: center;
border-radius: 25px;
background-color: white;

    }
}

@media (max-width: 400px) {
    .fixed {
        height: auto;
    }

    .box {
        height: auto;
    }
}